a{
    text-decoration-line: none;
}

.btn-back-to-start{
    background: rgb(255, 255, 255);
    border-radius: 25px;
}

#goingTop{
    position: fixed;
    right: 50px;
    bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(244, 244, 252);
    font-size: 25px;
    box-shadow: 0px 0px 5px rgb(5, 5, 5);
    cursor: pointer;
}