.dragAndDrop{
    margin-top: 20%;
}

.dragAndDrop > div {
    width: 320px;
    height: 320px;
    text-align: center;
    border: 1px solid #000;
    padding: 5px;
    margin: 20px;
}

h2 {
    font-size: .8em;
    color: #000;
    font-weight: bold;
}

.fl {
    float: left;
}

.dragAndDrop > form{
    width: 80%;
    position: relative;
    border: 1px solid black;   
    align-items: center;
    justify-content: center;
}

#listManager {
    width: 96%;
    height: 10%;
    margin: 0;
    display: flex;
    /* align-items: right; */
    /* flex-direction: row; */
    justify-content: right;
    border-style: none;

}

#addList {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addList:hover {
    background: rgb(141, 141, 224);
    cursor: pointer;
}

#deleteList {
    width: 20px;
    height: 20px;
    margin: 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteList:hover {
    background: rgb(141, 141, 224);
    cursor: pointer;
}